html {
  box-sizing: border-box;
  font-size: 100%;
  @include xl-max {
    font-size: 87.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline-color: rgba(0, 0, 0, .4);
}

body {
  margin: 0;
  font-family: "HelveticaNeueLTGEO", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5556;
  color: var(--gray-900-color);
  background-color: var(--white-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-haiti);
  transition: all .2s ease-in-out;
}

.link {
  color: var(--mariner-color);
  text-decoration: underline;
  font-size: 15px;
  letter-spacing: 0.01em;

  &:active, &:focus {
    color: var(--dodger-blue);
  }
}

svg {
  fill: currentColor;
  stroke: currentColor;
  height: auto;
  width: auto;
  display: block;
}

.fill-none {
  fill: none;
}

.stroke-none {
  stroke: none;
}

.page {
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  @include lg-max {
    background-size: contain;
  }

  &__row {
    background: no-repeat top center;

    &--content {
      padding-left: var(--nav-width);
      min-height: 100vh;
    }
  }
}

.opacity-50 {
  opacity: .5;
}

.transition-visible-before::before {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.transition-visible-before:hover::before {
  opacity: 1;
  visibility: visible;
}

// animation
.rotation {
  animation: rotation 5s infinite;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

button, input::placeholder, optgroup::placeholder, select::placeholder, textarea::placeholder {
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.oh {
  overflow: hidden !important;
}

.z-index {
  position: relative;
  z-index: 300;
}

.color-inherit {
  color: inherit;
}

.point-events {
  &-none {
    pointer-events: none;
  }
}

.user-select {
  &-none {
    user-select: none;
  }
}

.tangaroa-bg-color {
  background-color: var(--tangaroa-color);
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-pos-top-left {
  background-position: top left;
}

.bg-pos-top-right {
  background-position: top right;
}

.bg-pos-bottom-left {
  background-position: bottom left;
}

.bg-pos-bottom-right {
  background-position: bottom right;
}

.height-fluid {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.border-top-1-gray-200 {
  border-top: 1px solid var(--gray-200-color);
}

.border-1-gray-300 {
  border: 1px solid var(--gray-300-color);
}

.bs-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.bs-md {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.bs-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.bs-2xl {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.bs-base {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.border-none {
  border: none;
}

.width-fluid {
  width: 100%;
}

.circle {
  border-radius: 50%;
}

.hr-gradient {
  border: none;
  height: var(--hr-height);
  background: var(--hr-background) no-repeat top left;
}

/*scrollbar hidden*/
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.user-select-none {
  user-select: none;
}

.abs-fluid-block-wrapper {
  position: relative;
  z-index: 1;
}
.abs-fluid-block, .abs-fluid-block-before::before, .abs-fluid-block-after::after {
  content: '';
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
}
.object-fit-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
}
.object-fit-contain {
  -ms-object-fit: contain;
  object-fit: contain;
}
.object-fit-cover {
  -ms-object-fit: cover;
  object-fit: cover;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// settings

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

@for $i from 0 to 101 {
  .mrt-#{$i} {
    margin-top: 1px * $i;
  }
  .mrt-#{$i}- {
    margin-top: -1px * $i;
  }
  
  .mrr-#{$i} {
    margin-right: 1px * $i;
  }
  .mrr-#{$i}- {
    margin-right: -1px * $i;
  }

  .mrb-#{$i} {
    margin-bottom: 1px * $i;
  }
  .mrb-#{$i}- {
    margin-bottom: -1px * $i;
  }

  .mrl-#{$i} {
    margin-left: 1px * $i;
  }
  .mrl-#{$i}- {
    margin-left: -1px * $i;
  }

  .pdt-#{$i} {
    padding-top: 1px * $i;
  }
   
  .pdr-#{$i} {
    padding-right: 1px * $i;
  }

  .pdb-#{$i} {
    padding-bottom: 1px * $i;
  }

  .pdl-#{$i} {
    padding-left: 1px * $i;
  }

  .top-#{$i} {
    top: 1px * $i;
  }

  .top-#{$i}- {
    top: -1px * $i;
  }

  .right-#{$i} {
    right: 1px * $i;
  }

  .right-#{$i}- {
    right: -1px * $i;
  }

  .bottom-#{$i} {
    bottom: 1px * $i;
  }

  .bottom-#{$i}- {
    bottom: 1px * $i;
  }

  .left-#{$i} {
    left: 1px * $i;
  }

  .left-#{$i}- {
    left: -1px * $i;
  }
}

@for $i from 0 to 101 {
  .brrtl-#{$i} {
    border-top-left-radius: 1px * $i;
  }

  .brrtr-#{$i} {
    border-top-right-radius: 1px * $i;
  }

  .brrbr-#{$i} {
    border-bottom-right-radius: 1px * $i;
  }

  .brrbl-#{$i} {
    border-bottom-left-radius: 1px * $i;
  }

  .fts-#{$i} {
    font-size: 1px * $i;
  }
}

@include sm-min {

  .position-sm-absolute {
    position: absolute;
  }
  
  .position-sm-relative {
    position: relative;
  }
  
  .position-sm-static {
    position: static;
  }
  
  .position-sm-sticky {
    position: sticky;
  }

  @for $i from 0 to 101 {
    .mrt-sm-#{$i} {
      margin-top: 1px * $i;
    }
    .mrt-sm-#{$i}- {
      margin-top: -1px * $i;
    }
    
    .mrr-sm-#{$i} {
      margin-right: 1px * $i;
    }
    .mrr-sm-#{$i}- {
      margin-right: -1px * $i;
    }
  
    .mrb-sm-#{$i} {
      margin-bottom: 1px * $i;
    }
    .mrb-sm-#{$i}- {
      margin-bottom: -1px * $i;
    }
  
    .mrl-sm-#{$i} {
      margin-left: 1px * $i;
    }
    .mrl-sm-#{$i}- {
      margin-left: -1px * $i;
    }
  
    .pdt-sm-#{$i} {
      padding-top: 1px * $i;
    }
    
    .pdr-sm-#{$i} {
      padding-right: 1px * $i;
    }
  
    .pdb-sm-#{$i} {
      padding-bottom: 1px * $i;
    }
  
    .pdl-sm-#{$i} {
      padding-left: 1px * $i;
    }
  
    .top-sm-#{$i} {
      top: 1px * $i;
    }
  
    .top-sm-#{$i}- {
      top: -1px * $i;
    }
  
    .right-sm-#{$i} {
      right: 1px * $i;
    }
  
    .right-sm-#{$i}- {
      right: -1px * $i;
    }
  
    .bottom-sm-#{$i} {
      bottom: 1px * $i;
    }
  
    .bottom-sm-#{$i}- {
      bottom: 1px * $i;
    }
  
    .left-sm-#{$i} {
      left: 1px * $i;
    }
  
    .left-sm-#{$i}- {
      left: -1px * $i;
    }
  }

  @for $i from 0 to 101 {
    .brrtl-sm-#{$i} {
      border-top-left-radius: 1px * $i;
    }

    .brrtr-sm-#{$i} {
      border-top-right-radius: 1px * $i;
    }

    .brrbr-sm-#{$i} {
      border-bottom-right-radius: 1px * $i;
    }

    .brrbl-sm-#{$i} {
      border-bottom-left-radius: 1px * $i;
    }

    .fts-sm-#{$i} {
      font-size: 1px * $i;
    }
  }
}

@include md-min {

  .position-md-absolute {
    position: absolute;
  }
  
  .position-md-relative {
    position: relative;
  }
  
  .position-md-static {
    position: static;
  }
  
  .position-md-sticky {
    position: sticky;
  }

  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-justify {
    text-align: justify;
  }

  @for $i from 0 to 101 {
    .mrt-md-#{$i} {
      margin-top: 1px * $i;
    }
    .mrt-md-#{$i}- {
      margin-top: -1px * $i;
    }
    
    .mrr-md-#{$i} {
      margin-right: 1px * $i;
    }
    .mrr-md-#{$i}- {
      margin-right: -1px * $i;
    }
  
    .mrb-md-#{$i} {
      margin-bottom: 1px * $i;
    }
    .mrb-md-#{$i}- {
      margin-bottom: -1px * $i;
    }
  
    .mrl-md-#{$i} {
      margin-left: 1px * $i;
    }
    .mrl-md-#{$i}- {
      margin-left: -1px * $i;
    }
  
    .pdt-md-#{$i} {
      padding-top: 1px * $i;
    }
    
    .pdr-md-#{$i} {
      padding-right: 1px * $i;
    }
  
    .pdb-md-#{$i} {
      padding-bottom: 1px * $i;
    }
  
    .pdl-md-#{$i} {
      padding-left: 1px * $i;
    }
  
    .top-md-#{$i} {
      top: 1px * $i;
    }
  
    .top-md-#{$i}- {
      top: -1px * $i;
    }
  
    .right-md-#{$i} {
      right: 1px * $i;
    }
  
    .right-md-#{$i}- {
      right: -1px * $i;
    }
  
    .bottom-md-#{$i} {
      bottom: 1px * $i;
    }
  
    .bottom-md-#{$i}- {
      bottom: 1px * $i;
    }
  
    .left-md-#{$i} {
      left: 1px * $i;
    }
  
    .left-md-#{$i}- {
      left: -1px * $i;
    }
  }
  @for $i from 0 to 101 {
    .brrtl-md-#{$i} {
      border-top-left-radius: 1px * $i;
    }

    .brrtr-md-#{$i} {
      border-top-right-radius: 1px * $i;
    }

    .brrbr-md-#{$i} {
      border-bottom-right-radius: 1px * $i;
    }

    .brrbl-md-#{$i} {
      border-bottom-left-radius: 1px * $i;
    }

    .fts-md-#{$i} {
      font-size: 1px * $i;
    }
  }
}

@include lg-min {

  .position-lg-absolute {
    position: absolute;
  }
  
  .position-lg-relative {
    position: relative;
  }
  
  .position-lg-static {
    position: static;
  }
  
  .position-lg-sticky {
    position: sticky;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-justify {
    text-align: justify;
  }

  @for $i from 0 to 101 {
    .mrt-lg-#{$i} {
      margin-top: 1px * $i;
    }
    .mrt-lg-#{$i}- {
      margin-top: -1px * $i;
    }
    
    .mrr-lg-#{$i} {
      margin-right: 1px * $i;
    }
    .mrr-lg-#{$i}- {
      margin-right: -1px * $i;
    }
  
    .mrb-lg-#{$i} {
      margin-bottom: 1px * $i;
    }
    .mrb-lg-#{$i}- {
      margin-bottom: -1px * $i;
    }
  
    .mrl-lg-#{$i} {
      margin-left: 1px * $i;
    }
    .mrl-lg-#{$i}- {
      margin-left: -1px * $i;
    }
  
    .pdt-lg-#{$i} {
      padding-top: 1px * $i;
    }
    
    .pdr-lg-#{$i} {
      padding-right: 1px * $i;
    }
  
    .pdb-lg-#{$i} {
      padding-bottom: 1px * $i;
    }
  
    .pdl-lg-#{$i} {
      padding-left: 1px * $i;
    }
  
    .top-lg-#{$i} {
      top: 1px * $i;
    }
  
    .top-lg-#{$i}- {
      top: -1px * $i;
    }
  
    .right-lg-#{$i} {
      right: 1px * $i;
    }
  
    .right-lg-#{$i}- {
      right: -1px * $i;
    }
  
    .bottom-lg-#{$i} {
      bottom: 1px * $i;
    }
  
    .bottom-lg-#{$i}- {
      bottom: 1px * $i;
    }
  
    .left-lg-#{$i} {
      left: 1px * $i;
    }
  
    .left-lg-#{$i}- {
      left: -1px * $i;
    }
  }
  @for $i from 0 to 101 {
    .brrtl-lg-#{$i} {
      border-top-left-radius: 1px * $i;
    }

    .brrtr-lg-#{$i} {
      border-top-right-radius: 1px * $i;
    }

    .brrbr-lg-#{$i} {
      border-bottom-right-radius: 1px * $i;
    }

    .brrbl-lg-#{$i} {
      border-bottom-left-radius: 1px * $i;
    }

    .fts-lg-#{$i} {
      font-size: 1px * $i;
    }
  }
}

@include xl-min {

  .position-xl-absolute {
    position: absolute;
  }
  
  .position-xl-relative {
    position: relative;
  }
  
  .position-xl-static {
    position: static;
  }
  
  .position-xl-sticky {
    position: sticky;
  }

  .text-xl-left {
    text-align: left;
  }

  .text-xl-center {
    text-align: center;
  }

  .text-xl-right {
    text-align: right;
  }

  .text-xl-justify {
    text-align: justify;
  }

  @for $i from 0 to 101 {
    .mrt-xl-#{$i} {
      margin-top: 1px * $i;
    }
    .mrt-xl-#{$i}- {
      margin-top: -1px * $i;
    }
    
    .mrr-xl-#{$i} {
      margin-right: 1px * $i;
    }
    .mrr-xl-#{$i}- {
      margin-right: -1px * $i;
    }
  
    .mrb-xl-#{$i} {
      margin-bottom: 1px * $i;
    }
    .mrb-xl-#{$i}- {
      margin-bottom: -1px * $i;
    }
  
    .mrl-xl-#{$i} {
      margin-left: 1px * $i;
    }
    .mrl-xl-#{$i}- {
      margin-left: -1px * $i;
    }
  
    .pdt-xl-#{$i} {
      padding-top: 1px * $i;
    }
    
    .pdr-xl-#{$i} {
      padding-right: 1px * $i;
    }
  
    .pdb-xl-#{$i} {
      padding-bottom: 1px * $i;
    }
  
    .pdl-xl-#{$i} {
      padding-left: 1px * $i;
    }
  
    .top-xl-#{$i} {
      top: 1px * $i;
    }
  
    .top-xl-#{$i}- {
      top: -1px * $i;
    }
  
    .right-xl-#{$i} {
      right: 1px * $i;
    }
  
    .right-xl-#{$i}- {
      right: -1px * $i;
    }
  
    .bottom-xl-#{$i} {
      bottom: 1px * $i;
    }
  
    .bottom-xl-#{$i}- {
      bottom: 1px * $i;
    }
  
    .left-xl-#{$i} {
      left: 1px * $i;
    }
  
    .left-xl-#{$i}- {
      left: -1px * $i;
    }
  }
  @for $i from 0 to 101 {
    .brrtl-xl-#{$i} {
      border-top-left-radius: 1px * $i;
    }

    .brrtr-xl-#{$i} {
      border-top-right-radius: 1px * $i;
    }

    .brrbr-xl-#{$i} {
      border-bottom-right-radius: 1px * $i;
    }

    .brrbl-xl-#{$i} {
      border-bottom-left-radius: 1px * $i;
    }

    .fts-xl-#{$i} {
      font-size: 1px * $i;
    }
  }
}

/*section*/
.section {
  position: relative;
  z-index: 1;
}

@include lg-max {
  h3.section__title-h3 {
    line-height: 1.2414;
  }
}

@include xl-min {
  .page__cell.container {max-width: 1310px;}
  .page__cell.container--1246 {max-width: 1246px;}
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}