:root {

  // colors
  --black-color: #000;
  --white-color: #fff;
  --zumthor-color: #EFF6FF;
  --athens-gray: #E5E7EB;

  --blue-50-color: #EFF6FF;
  --blue-600-color: #2563EB;

  --gray-100-color: #F3F4F6;
  --gray-200-color: #E5E7EB;
  --gray-300-color: #D1D5DB;
  --gray-500-color: #6B7280;
  --gray-600-color: #4B5563;
  --gray-900-color: #111827;

  // text
  --title-h1-font-size: 56px;
  --title-h1-line-height: 1.1072;

  --qr-block-border-color: var(--athens-gray);
  --qr-block-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}
