:root {

  // colors
  --black-color: #000;
  --zumthor-color: #EFF6FF;
  --athens-gray: #E5E7EB;

  --white-color: #fff;
  --white-color-opacity-100: rgba(255, 255, 255, .1);
  --white-color-opacity-200: rgba(255, 255, 255, .2);
  --white-color-opacity-300: rgba(255, 255, 255, .3);
  --white-color-opacity-400: rgba(255, 255, 255, .4);
  --white-color-opacity-500: rgba(255, 255, 255, .5);
  --white-color-opacity-600: rgba(255, 255, 255, .6);
  --white-color-opacity-700: rgba(255, 255, 255, .7);
  --white-color-opacity-800: rgba(255, 255, 255, .8);
  --white-color-opacity-900: rgba(255, 255, 255, .9);

  --blue-50-color: #EFF6FF;
  --blue-200-color: #BFDBFE;
  --blue-600-color: #2563EB;
  --blue-700-color: #1D4ED8;

  --gray-50-color: #F9FAFB;
  --gray-100-color: #F3F4F6;
  --gray-200-color: #E5E7EB;
  --gray-300-color: #D1D5DB;
  --gray-400-color: #9CA3AF;
  --gray-500-color: #6B7280;
  --gray-600-color: #4B5563;
  --gray-700-color: #374151;
  --gray-800-color: #1F2937;
  --gray-900-color: #111827;

  --indigo-200-color: #C7D2FE;

  --purple-700-color: #6D28D9;

  --teal-600-color: #0D9488;

  // text
  --title-h1-font-size: 56px;
  --title-h1-line-height: 1.1072;

  --qr-block-border-color: var(--athens-gray);
}
