.btn {
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    transition: all .3s ease-out;
  
    &:not(:active):not(:disabled):not(.disabled):hover {
      box-shadow: var(--btn-hover-shadow);
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &[disabled], &[disabled]:active, &.disabled, &.disabled:active {
        opacity: 1 !important;
    }
  
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      border-radius: inherit;
      opacity: 0;
      transition: all 150ms ease-out;
    }
    &:hover::before {
      opacity: 1;
    }

    &--min-width {
        min-width: 290px;
    }
  
    &--fluid {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }

    &__text {
        flex-shrink: 1;
        word-break: break-word;
    }

    &__icon--arrow {
        transition: all .3s ease;
    }

    &:hover &__icon--arrow {
        transform: translate(3px);
    }
  }