.blue-100-color {
    color: var(--blue-100-color);
}

.blue-200-color {
    color: var(--blue-200-color);
}

.blue-300-color {
    color: var(--blue-300-color);
}

.blue-400-color {
    color: var(--blue-400-color);
}

.blue-500-color {
    color: var(--blue-500-color);
}

.blue-600-color {
    color: var(--blue-600-color);
}

.blue-700-color {
    color: var(--gray-700-color);
}

.blue-800-color {
    color: var(--blue-800-color);
}

.blue-900-color {
    color: var(--blue-900-color);
}

.gray-100-color {
    color: var(--gray-100-color);
}

.gray-200-color {
    color: var(--gray-200-color);
}

.gray-300-color {
    color: var(--gray-300-color);
}

.gray-400-color {
    color: var(--gray-400-color);
}

.gray-500-color {
    color: var(--gray-500-color);
}

.gray-600-color {
    color: var(--gray-600-color);
}

.gray-700-color {
    color: var(--gray-700-color);
}

.gray-800-color {
    color: var(--gray-800-color);
}

.gray-900-color {
    color: var(--gray-900-color);
}

// background color

.transparent-bg-color {
    background-color: transparent;
}

.white-bg-color {
    background-color: var(--white-color);
}

.blue-50-bg-color {
    background-color: var(--blue-50-color);
}

.blue-100-bg-color {
    background-color: var(--blue-100-color);
}

.blue-200-bg-color {
    background-color: var(--blue-200-color);
}

.blue-300-bg-color {
    background-color: var(--blue-300-color);
}

.blue-400-bg-color {
    background-color: var(--blue-400-color);
}

.blue-500-bg-color {
    background-color: var(--blue-500-color);
}

.blue-600-bg-color {
    background-color: var(--blue-600-color);
}

.blue-700-bg-color {
    background-color: var(--gray-700-color);
}

.blue-800-bg-color {
    background-color: var(--blue-800-color);
}

.blue-900-bg-color {
    background-color: var(--blue-900-color);
}

.gray-50-bg-color {
    background-color: var(--gray-50-color);
}

.gray-100-bg-color {
    background-color: var(--gray-100-color);
}

.gray-200-bg-color {
    background-color: var(--gray-200-color);
}

.gray-300-bg-color {
    background-color: var(--gray-300-color);
}

.gray-400-bg-color {
    background-color: var(--gray-400-color);
}

.gray-500-bg-color {
    background-color: var(--gray-500-color);
}

.gray-600-bg-color {
    background-color: var(--gray-600-color);
}

.gray-700-bg-color {
    background-color: var(--gray-700-color);
}

.gray-800-bg-color {
    background-color: var(--gray-800-color);
}

.gray-900-bg-color {
    background-color: var(--gray-900-color);
}

.indigo-200-color {
    color: var(--indigo-200-color);
}

.indigo-200-bg-color {
    background-color: var(--indigo-200-color);
}