.appearance-none {
    appearance: none;
}

.select {
    position: relative;
    z-index: 1;
    max-width: 218px;
    width: 100%;

    @include lg-max {
        max-width: 100%;
    }
}

.select__arrow {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 11px;
    z-index: 1;
    margin-top: -4px;
}

[disabled], .disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}