.functional {
    max-width: 1218px;
    margin: 0 auto;
}

.functional__row {
    min-height: 429px;
}

.functional__check-list {
    max-width: 470px;
}

.check-list__inner--max-width {
    max-width: 546px;
    margin: 0 auto;
}

.check-list__title {
    position: relative;
    z-index: 1;
}

.check-list__title::before {
    content: '';
    display: block;
    background: url(../../img/svg/checked-green.svg) no-repeat top left;
    height: 10px;
    width: 12px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -5px;
    z-index: 1;
}
