.page__row--header {
    width: 100%;
    z-index: 997;
    border: 1px solid var(--gray-200-color);
}

.header__row {

    @include lg-min {
        height: 79px;
    }

    @include lg-max {
        padding-left: 11px;
        padding-right: 30px;
        height: 83px;
    }
}

.header__cell--nav {
    flex: 1 0 auto;
    @include lg-max {
        position: absolute;
        z-index: 1;
    }
}

.header__cell--buttons {
    min-width: 280px;
    @include xl-min {
        min-width: 390px;
    }
}

.logo {
    height: 40px;
    width: 209px;
    display: block;
    
    @include lg-max {
        height: 36px;
        width: 159px;
    }
}

.logo__picture {
    height: 100%;
    width: 100%;
}

.header__button {
    padding: 15px;
    margin: -15px;
    display: block;
    line-height: 0;
}

.nav {
    @include lg-max {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 314px;
        max-height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all .3s ease;
    }
}
@include lg-max {
    .menu-open .nav {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
    }
}

.nav__wrapper {
    @include lg-max {
        height: 100%;
        position: relative;
        z-index: 1001;
        max-height: 100%;
        background-color: var(--white-color);
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nav__header {
    border-bottom: 1px solid var(--gray-200-color);
    flex-shrink: 0;
}

.nav__header-row {
    height: 84px;
}

.nav__body {
    @include lg-max {
        flex: 1 0 auto;
    }
}

.nav__item {
    @include lg-max {
        border-bottom: 1px solid var(--gray-200-color);
    }
}

.nav__link {
    position: relative;
    z-index: 1;

    @include lg-min {
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include lg-max {
        display: block;
        padding: 16px 40px 14px 24px;
    }
}

.nav__link::after {
    content: '';
    position: absolute;
    
    @include lg-min {
        left: 0;
        right: 0;
        bottom: -1px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        border-bottom: 4px solid var(--blue-600-color);
        border-radius: 12px 12px 0px 0px;
    }
    
    @include lg-max {
        height: 14px;
        width: 9px;
        background: url(../img/svg/arrow-right-3.svg) no-repeat top left;
        top: 50%;
        margin-top: -7px;
        right: 18px;
    }
}

.nav__link.active::after {
    @include lg-max {
        background-image: url(../img/svg/arrow-right-3-blue.svg);
    }
}

.nav__link.active {
    @include md-min {
        font-weight: 700;
    }
}

.nav__link.active, .nav__link:hover {
    color: var(--blue-600-color);
}

.nav__link.active::after, .nav__link:hover::after {
    @include md-min {
        opacity: 1;
        visibility: visible;
    }
}

.nav__overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
}

.nav__footer {
    flex-shrink: 0;
}