.intro__cell {
    position: relative;
    z-index: 1;

    @include lg-min {
        min-height: 758px;
    }
}

.intro__desc {
    @include lg-max {
        line-height: 1.5;
    }
}

.intro__images {
    @include lg-max {
        overflow: hidden;
        padding-left: 53px;
        position: relative;
        z-index: 1;
        left: -44px;
        max-width: 380px;
        margin: 0 auto;
        display: flex;
        padding-top: 18px;
        align-items: flex-end;
    }
}

.intro__picture {
    border: 1px solid #EBE9E9;

    @include lg-min {
        position: absolute;
        min-width: 414px;
    }
}

.intro__picture--1 {
    top: 88px;
    left: 18px;

    @include lg-max {
        width: 74%;
    }
}

.intro__picture--2 {
    left: 239px;
    top: 180px;

    @include lg-max {
        margin-left: -35%;
        margin-top: 14%;
        width: 66%;
        display: block;
    }
}