.qr {
    @include lg-max {
        max-width: 298px;
        margin: 0 auto;
    }
}

.qr__block {
    border: 1px solid var(--qr-block-border-color);
    border-radius: 16px;
    padding: 16px;

    @include xl-min {
        min-width: 484px;
    }
}

.qr__image {
    padding: 10px 9px;
}

.qr__picture {
    display: block;
}

.download-buttons__picture {
    display: block;
}

.qr__cell--line {
    margin-left: 19px;
    margin-right: 20px;
    width: 1px;
    height: 27px;
}

.stars {
    display: block;
}

.qr__use {
    position: relative;
    top: -2px;
}