.reviews {
    max-width: 1002px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-left: 78px;
    padding-right: 78px;
}

.reviews__inner {
    max-width: 588px;
    margin: 0 auto;
}

.reviews__user-avatar-picture {
    height: 40px;
    width: 40px;
    position: relative;
    top: -1px;
}

.reviews__user-slash {
    width: 3px;
    height: 20px;
    transform: skew(-14deg);
    margin: 0 12px 0 14px;
    position: relative;
    top: -1px;
}