.mrt-0 {
    margin-top: 0;
}

.mrb-28 {
    margin-bottom: 28px;
}

.mrb-9 {
    margin-bottom: 9px;
}

.mrb-10 {
    margin-bottom: 10px;
}

.mrb-21 {
    margin-bottom: 21px;
}

.mrb-27 {
    margin-bottom: 27px;
}

.mrb-32 {
    margin-bottom: 32px;
}

.mrb-66 {
    margin-bottom: 66px;
}

.mrb-67 {
    margin-bottom: 67px;
}

.mrr-40 {
    margin-right: 40px;
}

.mrr-48 {
    margin-right: 48px;
}

// minus

.mrl-5-5- {
    margin-left: -5.5px;
}

.mrr-5-5- {
    margin-right: -5.5px;
}

.mrl-8- {
    margin-left: -8px;
}

.mrr-8- {
    margin-right: -8px;
}

.mrl-17- {
    margin-left: -17px;
}

.mrr-8- {
    margin-right: -17px;
}

.pdt-40 {
    padding-top: 40px;
}

.pdt-92 {
    padding-top: 92px;
}

.pdt-128 {
    padding-top: 128px;
}

.pdr-5-5 {
    padding-right: 5.5px;
}

.pdr-8 {
    padding-right: 8px;
}

.pdr-17 {
    padding-right: 17px;
}

.pdb-40 {
    padding-bottom: 40px;
}

.pdl-5-5 {
    padding-left: 5.5px;
}

.pdl-8 {
    padding-left: 8px;
}

.pdl-17 {
    padding-left: 17px;
}