.line-height-1 {
  line-height: 1;
}

.line-height-1-0834 {
  line-height: 1.4;
}

.line-height-1-1072 {
  line-height: 1.1072;
}

.line-height-1-1111 {
  line-height: 1.1111;
}

.line-height-1-2 {
  line-height: 1.2;
}

.line-height-1-3334 {
  line-height: 1.3334;
}

.line-height-1-4 {
  line-height: 1.4;
}

.line-height-1-4286 {
  line-height: 1.4286;
}

.line-height-1-1429 {
  line-height: 1.1429;
}

.line-height-1-2917 {
  line-height: 1.2917;
}

.line-height-1-5 {
  line-height: 1.5;
}

.line-height-1-5556 {
  line-height: 1.5556;
}

.ft-size-8 {
  font-size: 8px;
}

.ft-size-9 {
  font-size: 9px;
}

.ft-size-10 {
  font-size: 10px;
}

.ft-size-11 {
  font-size: 11px;
}

.ft-size-13 {
  font-size: 13px;
}

.ft-size-12 {
  font-size: 12px;
}

.ft-size-14 {
  font-size: 14px;
}

.ft-size-15 {
  font-size: 15px;
}

.ft-size-16 {
  font-size: 16px;
}

.ft-size-17 {
  font-size: 17px;
}

.ft-size-18 {
  font-size: 18px;
}

.ft-size-19 {
  font-size: 19px;
}

.ft-size-20 {
  font-size: 20px;
}

.ft-size-23 {
  font-size: 23px;
}

.ft-size-24 {
  font-size: 24px;
}

.ft-size-27 {
  font-size: 27px;
}

.ft-size-30 {
  font-size: 30px;
}

.ft-size-36 {
  font-size: 36px;
}

.ft-size-48 {
  font-size: 48px;
}

.ft-size-56 {
  font-size: 56px;
}

.ft-size-60 {
  font-size: 60px;
}

.break-word {
  word-break: break-word;
}

// fonts & font, size weight, style, letter spacing

.letter-spacing-0-025- {
  letter-spacing: -0.025em;
}

.letter-spacing-0-025 {
  letter-spacing: 0.025em;
}

.letter-spacing-05 {
  letter-spacing: 0.05em;
}

.SFUIDisplay {
  font-family: "SFUIDisplay", sans-serif;
}

.helvetica-neueLT-GEO {
  font-family: "HelveticaNeueLTGEO", sans-serif;
}

.helvetica-neueLT-GEO-Caps {
  font-family: "HelveticaNeueLTGEOCaps", sans-serif;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-uppercase-geo {
  font-feature-settings: "case" on;
}

.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-justify {
  text-align: justify!important;
}

.helvetica-neueLTGEOCaps {
  font-family: "HelveticaNeueLTGEOCaps", sans-serif;
}