.lh-1 {
  line-height: 1;
}

.lh-1-0834 {
  line-height: 1.4;
}

.lh-1-1072 {
  line-height: 1.1072;
}

.lh-1-1111 {
  line-height: 1.1111;
}

.lh-1-2 {
  line-height: 1.2;
}

.lh-1-3334 {
  line-height: 1.3334;
}

.lh-1-4 {
  line-height: 1.4;
}

.lh-1-4286 {
  line-height: 1.4286;
}

.lh-1-1429 {
  line-height: 1.1429;
}

.lh-1-2917 {
  line-height: 1.2917;
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-1-5556 {
  line-height: 1.5556;
}

.break-word {
  word-break: break-word;
}

// fonts & font, size weight, style, letter spacing

.ls-0-025- {
  letter-spacing: -0.025em;
}

.ls-0-025 {
  letter-spacing: 0.025em;
}

.ls-05 {
  letter-spacing: 0.05em;
}

.SFUIDisplay {
  font-family: "SFUIDisplay", sans-serif;
}

.helvetica-neueLT-GEO {
  font-family: "HelveticaNeueLTGEO", sans-serif;
}

.helvetica-neueLT-GEO-Caps {
  font-family: "HelveticaNeueLTGEOCaps", sans-serif;
}

.ftw-100 {
  font-weight: 100;
}

.ftw-200 {
  font-weight: 200;
}

.ftw-300 {
  font-weight: 300;
}

.ftw-400 {
  font-weight: 400;
}

.ftw-500 {
  font-weight: 500;
}

.ftw-600 {
  font-weight: 600;
}

.ftw-700 {
  font-weight: 700;
}

.ftw-800 {
  font-weight: 800;
}

.ftw-900 {
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-uppercase-geo {
  font-feature-settings: "case" on;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

@include sm-min {

  .text-sm-left {
    text-align: left;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-justify {
    text-align: justify;
  }

  .ftw-sm-100 {
    font-weight: 100;
  }
  
  .ftw-sm-200 {
    font-weight: 200;
  }
  
  .ftw-sm-300 {
    font-weight: 300;
  }
  
  .ftw-sm-400 {
    font-weight: 400;
  }
  
  .ftw-sm-500 {
    font-weight: 500;
  }
  
  .ftw-sm-600 {
    font-weight: 600;
  }
  
  .ftw-sm-700 {
    font-weight: 700;
  }
  
  .ftw-sm-800 {
    font-weight: 800;
  }
  
  .ftw-sm-900 {
    font-weight: 900;
  }
}

@include md-min {

  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-justify {
    text-align: justify;
  }

  .ftw-md-100 {
    font-weight: 100;
  }
  
  .ftw-md-200 {
    font-weight: 200;
  }
  
  .ftw-md-300 {
    font-weight: 300;
  }
  
  .ftw-md-400 {
    font-weight: 400;
  }
  
  .ftw-md-500 {
    font-weight: 500;
  }
  
  .ftw-md-600 {
    font-weight: 600;
  }
  
  .ftw-md-700 {
    font-weight: 700;
  }
  
  .ftw-md-800 {
    font-weight: 800;
  }
  
  .ftw-md-900 {
    font-weight: 900;
  }
}

@include lg-min {

  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-justify {
    text-align: justify;
  }

  .ftw-lg-100 {
    font-weight: 100;
  }
  
  .ftw-lg-200 {
    font-weight: 200;
  }
  
  .ftw-lg-300 {
    font-weight: 300;
  }
  
  .ftw-lg-400 {
    font-weight: 400;
  }
  
  .ftw-lg-500 {
    font-weight: 500;
  }
  
  .ftw-lg-600 {
    font-weight: 600;
  }
  
  .ftw-lg-700 {
    font-weight: 700;
  }
  
  .ftw-lg-800 {
    font-weight: 800;
  }
  
  .ftw-lg-900 {
    font-weight: 900;
  }
}

@include xl-min {

  .text-xl-left {
    text-align: left;
  }

  .text-xl-center {
    text-align: center;
  }

  .text-xl-right {
    text-align: right;
  }

  .text-xl-justify {
    text-align: justify;
  }

  .ftw-xl-100 {
    font-weight: 100;
  }
  
  .ftw-xl-200 {
    font-weight: 200;
  }
  
  .ftw-xl-300 {
    font-weight: 300;
  }
  
  .ftw-xl-400 {
    font-weight: 400;
  }
  
  .ftw-xl-500 {
    font-weight: 500;
  }
  
  .ftw-xl-600 {
    font-weight: 600;
  }
  
  .ftw-xl-700 {
    font-weight: 700;
  }
  
  .ftw-xl-800 {
    font-weight: 800;
  }
  
  .ftw-xl-900 {
    font-weight: 900;
  }
}

.helvetica-neueLTGEOCaps {
  font-family: "HelveticaNeueLTGEOCaps", sans-serif;
}
@include lg-max {
  .title--h1 {
    line-height: 1.3572;
  }
  .title--h2 {
    line-height: 1.3334;
  }
  .title--h4 {
    line-height: 1.5;
  }
  .title--h3 {
    line-height: 1.4;
  }
  .title--h5 {
    line-height: 1.4286;
  }

  .text {
    line-height: 1.4286;
  }
}